<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments Application</title>
    <link href="style.css" rel="stylesheet"  >
<div class="container">
    <script>
        const parser = new DOMParser()
        const search = async () => {
            const searchVal = document.getElementById("search-val").value

            if (searchVal !== "") {
                const res = await fetch("/search", {
                    method: "POST",
                    headers: {
                        'Content-Type': "application/json"
                    },
                    body: JSON.stringify({searchTerm: searchVal})
                })
                const data = await res.text()
                const html = parser.parseFromString(data, "text/html")
                document.getElementById("comment-table").replaceWith(html.getElementById("comment-table"))
            }
        }
    </script>
  <h1>Welcome to the comments application!</h1>
    <label for="search-val">Search Term</label><input type="text" id="search-val" placeholder="Enter your search term!"/>
    <button onclick="search()" id="search-submit">Search</button>
    <!-- table of comments-->
    <table id="comment-table" th:replace="fragments/comments :: commentTable" th:with="comments=${comments}"></table>

    <!-- form to add comments   -->
    <form th:action="@{/submitComment}" method="post">
      <div class="mb-3">
        <label for="content" class="form-label">New Comment</label>
        <input type="text" class="form-control" id="content" name="content" required>
      </div>
        <div class="mb-3">
        <label for="author" class="form-label">Your name</label>
        <input type="text" class="form-control" id="author" name="author" required>
      </div>
      <button type="submit" class="btn btn-primary">Add Comment</button>
    </form>


</div>
</html>
